{% extends 'app.html' %}

{% block head %}
<title>Showering App - About</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-1 space-y-1.5">
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>About us</span>
        <span class="text-sm">
            We are a group of students from the University of Technology Eindhoven. As part of our course "Engineering Design" we have made a application that can track the user's showering habits.
            The application fetches its data from a server, which receives its data from a Raspberry Pi Pico.
        </span>
    </div>
</div>
{% endblock %}