{% extends 'app.html' %}

{% block head %}
<title>Showering App - Feedback</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-3 space-y-2">
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>If you shower a minute less every day for a year, you will save around 1400 liters of water a year.
        </span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>{{ comparison_string }}</span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>You use around 9.5 liters of water each minute you shower.
        </span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>Did you know that a 2-3 minute shower of approximately 20 degrees celsius helps against
            depression.                        
        </span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>Never shower above 43 degrees celsius as it will damage your skin.            
        </span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>Your showertime is {{ weeks_compared_duration }} minutes {% if weeks_compared_duration > 0 %}higher{% elif weeks_compared_duration < 0 %}lower{% else %}equal{% endif %} compared to last week.</span>
    </div>
    <!--// Show the change in showertime of this week compared to last week and be able to change lower/higher/equal-->
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>Your shower temperature is {{ weeks_compared_temperature }}&#8451 {% if weeks_compared_temperature > 0 %}higher{% elif weeks_compared_temperature < 0 %}lower{% else %}equal{% endif %} compared to last week.    
        </span>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>Did you know that the average shower is around 9.1 minutes long.   
        </span>
    </div>
</div>
{% endblock %}