{% extends 'app.html' %}

{% block head %}
<title>Showering App - Home</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-1 space-y-1.5">
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <div class="flex justify-between">
            <span>Overview</span>
            <a class="flex items-center text-main-light text-sm space-x-1" href="{{ url_for('statistics') }}">
                <span>Details</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div class="flex justify-around px-4 pb-3 text-sm border-b">
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{% if daily_data[0][1] == None %}- {% else %}{{ daily_data[0][1] }} {% endif %}</span>min</span>
                <span>Showered today</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-bold">{% if daily_data[0][0] == None %}- {% else %}{{ daily_data[0][0] }} {% endif %}</span>&#8451</span>
                <span>Avg today</span>
            </div>
        </div>
        <div class="flex justify-between px-4 py-1 text-sm">
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{{ data[0][1] }} </span>min</span>
                <span>Age all-time</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{{ data[0][0] }} </span>&#8451</span>
                <span>Avg all-time</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold{% if water_savings < 0%} text-red-800{% endif %}">{{ water_savings }} </span>liters</span>
                <span>Avg water saved</span>
            </div>
        </div>
    </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 7 days average duration</span>
            <div>
                <canvas id="DurationChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 7 days average temperature</span>
            <div>
                <canvas id="TemperatureChart"></canvas>
            </div>
        </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>{{ comparison_string }}</span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = [
        {% for data in graph_data %}
    "{{ data[2].strftime(" %A") }}",
        {% endfor %}
    ];

    const temperatureData = {
        labels: labels,
        datasets: [{
            label: 'Temperature',
            backgroundColor: 'rgba(81, 172, 197, 1)',
            borderColor: 'rgba(81, 172, 197, 1)',
            borderWidth: 1,
            data: [
                {% for data in graph_data %}
                        {{ data[0] }},
        {% endfor %}
            ],
        }]
    };
    const durationData = {
        labels: labels,
        datasets: [{
            label: 'Duration',
            backgroundColor: 'rgba(81, 172, 197, 1)',
            borderColor: 'rgba(81, 172, 197, 1)',
            borderWidth: 1,
            data: [
                {% for data in graph_data %}
                        {{ data[1] }},
        {% endfor %}
            ],
        }]
    };

    const temperatureConfig = {
        type: 'line',
        data: temperatureData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 60
                }
            }
        }
    };
    const durationConfig = {
        type: 'line',
        data: durationData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 30
                }
            }
        }
    };
</script>
<script>
    const temperatureChart = new Chart(
        document.getElementById('TemperatureChart'),
        temperatureConfig
    );
    const durationChart = new Chart(
        document.getElementById('DurationChart'),
        durationConfig
    );
</script>
{% endblock %}