{% extends 'app.html' %}

{% block head %}
<title>Showering App - Index</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-3 px-6 space-y-2">
    <div class="px-2 py-1.5">
        Information section, for now this will contain placeholder text to see how the elements wrap up on the page.
        We can put a description about our application here, although it is not necessary, it is just a temporary layout.
    </div>
    <!-- <div class="flex flex-col space-y-3.5 shadow-sm">
        <a class="px-2 py-1.5 bg-main rounded-full text-center text-white max-w">
            Statistics
        </a>
        <a class="px-2 py-1.5 bg-main rounded-full text-center text-white max-w">
            Feedback
        </a>
        <a class="px-2 py-1.5 bg-main rounded-full text-center text-white max-w">
            About us
        </a>
    </div> -->
</div>
{% endblock %}