{% extends 'app.html' %}

{% block head %}
<title>Showering App - Home</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-1 space-y-1.5">
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <div class="flex justify-between">
            <span>Overview</span>
            <a class="flex items-center text-main-light text-sm space-x-1" href="{{ url_for('statistics') }}">
                <span>Details</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div class="flex justify-around px-4 pb-3 text-sm border-b">
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">13.4</span>min</span>
                <span>Showered today</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-bold">35</span>&#8451</span>
                <span>Average today</span>
            </div>
        </div>
        <div class="flex justify-between px-4 py-1 text-sm">
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{{ data[0][1] }} </span>min</span>
                <span>Average all-time</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{{ data[0][0] }} </span>&#8451</span>
                <span>Average all-time</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">8.5</span>m<sup>3</sup></span>
                <span>Water saved</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>Monthly duration shower</span>
        <div>
            <canvas id="WeeklyDuraChart"></canvas>
        </div>
    </div>
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>Monthly average temperature</span>
        <div>
            <canvas id="WeeklyTempChart"></canvas>
        </div>
    </div>
    <div class="px-3 py-3 border text-sm text-center font-medium bg-white">
        <span>{{ comparison_string }}</span>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labelsWeekly = [
        '12 Oct',
        '13 Oct',
        '14 Oct',
        '15 Oct',
        '16 Oct',
        '17 Oct',
        '18 Oct'
    ];

    const dataWeeklyDura = {
        labels: labelsWeekly,
        datasets: [{
            label: 'Duration in minutes',
            backgroundColor: ['rgba(54, 162, 235, 1)'],
            borderColor: ['rgba(54, 162, 235, 1)'],
            borderWidth: 1,
            data: [12, 6, 17, 10, 8, 11, 7]
            // Data should be given for total duration of showering for each specific day, given with the order of 
            // labelsWeekly described above. (Line chart)
        }]
    }

    const dataWeeklyTemp = {
        labels: labelsWeekly,
        datasets: [{
            label: 'Temperature in Celsius',
            backgroundColor: ['rgba(54, 162, 235, 1)'],
            borderColor: ['rgba(54, 162, 235, 1)'],
            borderWidth: 1,
            data: [34, 34, 32, 36, 31, 29, 32]
            //Data should be given for Avg shower temperature for each specific day, given with the order of 
            // labelsWeekly described above. (Line chart)
        }]
    }

    const configWeeklyDura = {
        type: 'line',
        data: dataWeeklyDura,
    }
    const configWeeklyTemp = {
        type: 'line',
        data: dataWeeklyTemp
    }
</script>
<script>
    const WeeklyDuraChart = new Chart(
        document.getElementById('WeeklyDuraChart'),
        configWeeklyDura
    );
    const WeeklyTempChart = new Chart(
        document.getElementById('WeeklyTempChart'),
        configWeeklyTemp
    )
</script>
{% endblock %}