{% extends 'app.html' %}

{% block head %}
<title>Showering App - Statistics</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-1 space-y-1.5">
    <div class="flex flex-row border py-2 text-sm justify-around bg-white">
        <a href="{{ url_for('statistics', timeframe='days', period=get_date_range('days')) }}" {% if timeframe == 'days' %} class="font-bold" {% endif %}>1d</a>
        <a href="{{ url_for('statistics', timeframe='weeks', period=get_date_range('weeks')) }}" {% if timeframe == 'weeks' %} class="font-bold" {% endif %}>7d</a>
        <a href="{{ url_for('statistics', timeframe='months', period=get_date_range('months')) }}" {% if timeframe == 'months' %} class="font-bold" {% endif %}>4w</a>
        <a href="{{ url_for('statistics', timeframe='years', period=get_date_range('years')) }}" {% if timeframe == 'years' %} class="font-bold" {% endif %}>1y</a>
    </div>
    <div class="flex flex-row border py-2 space-x-3 text-sm justify-center bg-white">
        {% if timeframe == 'days' %}
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <span>{% if not data %}-{% else %}{{ data[0][2].strftime("%d-%b-%Y") }}{% endif %}</span>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        {% else %}
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
            <span>{{ data[0][2].strftime("%d-%b-%Y") }} - {{ data[-1][2].strftime("%d-%b-%Y") }}</span>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                        d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        {% endif %}
    </div>
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>This period</span>
        <div class="flex justify-around px-4 py-1 text-sm">
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{% if average[0][0] == None%}- {% else %}{{ average[0][0] }} {% endif %}</span>min</span>
                <span>Average showertime</span>
            </div>
            <div class="flex flex-col items-center">
                <span><span class="text-base font-semibold">{% if average[0][1] == None%}- {% else %}{{ average[0][1] }} {% endif %}</span>&#8451</span>
                <span>Average temperature</span>
            </div>
        </div>
    </div>
    {% if timeframe == 'days' %}
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last day average duration</span>
            <div>
                <canvas id="DurationChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last day average temperature</span>
            <div>
                <canvas id="TemperatureChart"></canvas>
            </div>
        </div>
    {% elif timeframe == 'weeks' %}
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 7 days average duration</span>
            <div>
                <canvas id="DurationChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 7 days average temperature</span>
            <div>
                <canvas id="TemperatureChart"></canvas>
            </div>
        </div>
    {% elif timeframe == 'months' %}
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 4 weeks average temperature</span>
            <div>
                <canvas id="DurationChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last 4 weeks average duration</span>
            <div>
                <canvas id="TemperatureChart"></canvas>
            </div>
        </div>
    {% elif timeframe == 'years' %}
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last year duration shower</span>
            <div>
                <canvas id="DurationChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
            <span>Last year average temperature</span>
            <div>
                <canvas id="TemperatureChart"></canvas>
            </div>
        </div>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    {% if timeframe == 'days' %}
    const labels = [
        {% for data in data %}
            "{{ data[2].strftime('%a %H:%M') }}",
        {% endfor %}
    ];
    {% elif timeframe == 'weeks' %}
    const labels = [
            {% for data in data %}
                "{{ data[2].strftime("%A") }}",
            {% endfor %}
    ];
    {% elif timeframe == 'months' %}
    const labels = [
        {% for data in data %}
            "{{ data[2].strftime("%d") }}-{{ data[2].strftime("%b") }}",
        {% endfor %}
    ];
    {% elif timeframe == 'years' %}
    const labels = [
        {% for data in data %}
            "{{ data[2].strftime("%d") }}-{{ data[2].strftime("%m") }}-{{ data[2].strftime("%Y") }}",
        {% endfor %}
    ];
    {% endif %}

    const temperatureData = {
        labels: labels,
        datasets: [{
            label: 'Temperature',
            backgroundColor: 'rgba(81, 172, 197, 1)',
            borderColor: 'rgba(81, 172, 197, 1)',
            borderWidth: 1,
            data: [
                    {% for data in data %}
                        {{ data[0] }},
                    {% endfor %}
            ],
        }]
    };
    const durationData = {
        labels: labels,
        datasets: [{
            label: 'Duration',
            backgroundColor: 'rgba(81, 172, 197, 1)',
            borderColor: 'rgba(81, 172, 197, 1)',
            borderWidth: 1,
            data: [
                    {% for data in data %}
                        {{ data[1] }},
                    {% endfor %}
            ],
        }]
    };

    const temperatureConfig = {
        type: '{% if timeframe=="days" %}bar{% else %}line{% endif %}',
        data: temperatureData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 60
                }
            }
        }
    };
    const durationConfig = {
        type: '{% if timeframe=="days" %}bar{% else %}line{% endif %}',
        data: durationData,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 30
                }
            }
        }
    };
</script>
<script>
const temperatureChart = new Chart(
        document.getElementById('TemperatureChart'),
        temperatureConfig
    );
const durationChart = new Chart(
        document.getElementById('DurationChart'),
        durationConfig
    );
</script>
{% endblock %}


