{% extends 'app.html' %}

{% block head %}
<title>Showering App - Statistics</title>
{% endblock %}

{% block body %}
<div class="flex flex-col py-1 space-y-1.5">
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>Monthly duration shower</span>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="flex flex-col px-3 py-3 border space-y-2 bg-white">
        <span>Monthly average temperature</span>
        <div>
            <canvas id="LineChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ];

    const data = {
        labels: labels,
        datasets: [{
            label: 'Duration in minutes',
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],


            borderWidth: 1,
            data: [270,253,292,230,241,209,213,192,209,223,500,222],
        }]
    };

    const dataSecond = {
        labels: labels,
        datasets: [{
            label: 'Test',
            data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        }]
    }

    const config = {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                tooltip: {
                    callbacks: {
                        beforeLabel: function(tooltipItem) {
                            return 'Minutes';
                        }
                    }
                }
            }
        }
    };
    const configSecond = {
        type: 'line',
        data: dataSecond,
    }
</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
    const secondChart = new Chart(
        document.getElementById('LineChart'),
        configSecond
    );
</script>
{% endblock %}